<div class="flex items-center justify-center min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-xl w-full max-auto space-y-8 bg-white shadow-lg rounded-lg p-8 mx-auto sm:p-10">

    <div class="flex items-center justify-center">
      <div class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        <%= @chassis.new_record? ? 'New Chassis' : 'Edit Chassis' %>
      </div>
    </div>
  
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= form_for @chassis do |f| %>
      <% if @chassis.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <ul class="list-disc ml-4">
            <% @chassis.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
    <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-1 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label for="make" class="block text-sm font-medium leading-6 text-gray-900">Make</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :make, id: "make", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "e.g OTK, Kart Republic, Xenon" %>
            </div>
          </div>
        </div>

        <% if current_user.admin? %>
          <div class="sm:col-span-6">
            <label for="user_id" class="block text-sm font-medium leading-6 text-gray-900">User</label>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <%= f.collection_select :user_id, @users, :id, :name, {}, { class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" } %>
              </div>
            </div>
          </div>
        <% end %>


        <div class="sm:col-span-6">
          <label for="model" class="block text-sm font-medium leading-6 text-gray-900">Model</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :model, id: "model", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "TonyKart, Kosmic, Expirit" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="number" class="block text-sm font-medium leading-6 text-gray-900">Chassis Number</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :number, id: "number", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Enter chassis number" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="year" class="block text-sm font-medium leading-6 text-gray-900">Year</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :year, id: "year", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Enter chassis year" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="colour" class="block text-sm font-medium leading-6 text-gray-900">Colour</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <%= f.text_field :colour, id: "colour", class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Enter chassis colour" %>
            </div>
          </div>
        </div>

        <div class="mt-2">
          <div class="flex items-center">
            <%= f.label :stolen, class: "block text-sm text-gray-900" %>
            <%= f.select :stolen, options_for_select([['Stolen', 'stolen'], ['Not Stolen', 'not_stolen']], @chassis.stolen), {}, { id: "stolen", class: "block ml-2 w-32 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" } %>
          </div>
        </div>
      </div>
    </div>


      <div class="flex justify-end pt-5">
        <%= f.submit "Save", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        <% if current_user.admin? && chassis.persisted? %>
            <%= link_to 'Delete', chassis_path(@chassis), data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out ml-2" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>