<div id="<%= dom_id chassis %>">
  <p>
    <strong>Name:</strong>
    <%= chassis.name %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= chassis.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= chassis.model %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= chassis.number %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= chassis.colour %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= chassis.notes %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= chassis.year %>
  </p>

</div>
