<%= form_with(url: search_path, method: :get) do |form| %>
  <div class="relative py-16 md:py-32 px-6 text-center bg-white overflow-hidden rounded-7xl bg-cover bg-center" style="background-image: url('<%= asset_path('') %>');">
    <div class="relative z-10 mx-auto md:max-w-screen-xl">
      <h3 class="mb-1 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Search Engines and Chassis</h3>
      
      <%= form.text_field :q, class: "mt-5 w-full py-3 px-4 text-coolGray-500 leading-tight placeholder-coolGray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-coolGray-200 rounded-lg shadow-xsm md:max-w-xs", placeholder: "Chassis / Engine Number..." %>
      <%= form.submit "Search", class: "mt-5 inline-block py-3 px-4 w-auto leading-5 text-white bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-transparent rounded-md shadow-sm" %>
    </div>
  </div>
<% end %>

<% if params[:q].present? %>
  <% if @chassis.any? || @engines.any? %>
    <div class="container mx-auto">
    <% if @chassis.any? %>
       <% @chassis.each do |chassis| %>
   <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-2 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
       <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center mt-10">Chassis Search Result</h2>
      <p class="mt-4 text-gray-500"></p>
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Chassis Number</dt>
          <dd class="mt-2 text-sm text-gray-500"><%= chassis.number || engine.engine_number%></dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Make</dt>
          <dd class="mt-2 text-sm text-gray-500"><%= chassis.make %></dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Model</dt>
          <dd class="mt-2 text-sm text-gray-500"><% chassis.model %></dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Year</dt>
          <dd class="mt-2 text-sm text-gray-500">2022</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Colour</dt>
          <dd class="mt-2 text-sm text-gray-500">Green</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Stolen</dt>
          <dd class="mt-2 text-sm text-gray-500">Not Stolen</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      
      <%= image_tag("20211122-_DM74079.jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74082.jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74083.jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74109.jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
     
    </div>
  </div>
</div>
</div>
<% end %>
    <% end %>
  <% if @engines.any? %>
    <div class="container mx-auto">
      <% @engines.each do |engine| %>
      
    
   <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-2 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
       <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center mt-10">Engine Search Result</h2>
      <p class="mt-4 text-gray-500"></p>

    
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Engine Number</dt>
          <dd class="mt-2 text-sm text-gray-500"><%= engine.engine_number %></dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Make</dt>
          <dd class="mt-2 text-sm text-gray-500"><%= engine.make %></dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Model</dt>
          <dd class="mt-2 text-sm text-gray-500">Junior Max</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Year</dt>
          <dd class="mt-2 text-sm text-gray-500">2022</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Current Seal Number</dt>
          <dd class="mt-2 text-sm text-gray-500">17653</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Stolen</dt>
          <dd class="mt-2 text-sm text-gray-500">Not Stolen</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      
      <%= image_tag("s-l1600 (1).jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("s-l1600 (2).jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("s-l1600 (3).jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("s-l1600 copy.jpg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
     
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>
  <% else %>
    <div class="container mx-auto mt-8">
      <div class="bg-yellow-100 text-lg text-gray-500 text-center py-4">
        Sorry, no engines were found for the provided Engine Number. You can add your engine today!
      </div>
    </div>
  <% end %>
<% elsif params.key?(:q) %>
  <div class="container mx-auto mt-8">
    <div class="bg-yellow-100 text-lg text-gray-500 text-center py-4">
      Enter a search query to get started.
    </div>
  </div>
<% end %>