<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 mb-10">
  <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Welcome to KartCheck</h2>
      <p class="mt-8 text-lg leading-8 text-gray-300">We're here to create a digital fingerprint for Karting equipment.</p>
      
      <p class="mt-8 text-lg leading-8 text-gray-300">Chassis' and Engines with the main aim to act as a deterret for theft and help reduce the resale and reuse of stolen equipment.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        <%= link_to 'Register Today', new_user_registration_path %>
        <%= link_to 'Search a Chassis or Engine', engines_path %>
        <%= link_to 'Contact us for more info', contact_path %> 
      </div>
      <div>
        <p class="mt-8 text-lg leading-8 text-gray-300">Fueled by a number of reports over the last few weeks we thought it would be great to attempt to build a platform which may help reduce the value of those items stolen and warn any potential buyers awaay from buying stolen equipment.</p>
      <p class="mt-8 text-lg leading-8 text-gray-300">With our user-friendly search functionality, you can easily look up any chassis or engine identification number and view it's "Stolen Status" and request contact details if required.</p>
      <p class="mt-8 text-lg leading-8 text-gray-300">Anyone can create an account and start adding your equipment to your garage, once your ready to sell the potential purchaser can search for it, see it's not reported as stolen and you can transfer ownership once the sale is completed.</p>
      <p class="mt-8 text-lg leading-8 text-gray-300">We hope to be able to build some affiliation with clubs in the future to be able to prevent stolen chassis's and engine's being able to registered for racing.</p>
      </div>
    </div>
  </div>
</div>

<section class="bg-white dark:bg-gray-900 mb-10">
    <div class="py-1 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-1 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">FAQ's</h1>
        <p class="mb-1 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">We've tried to answer as many of the most common questions in advance but if you have something else to ask, please get in touch!</p>
    </div>
</section>


<div class="container mx-auto px-5 py-5 tracking-tight mb-20">
<div id="accordion-collapse" data-accordion="collapse" class="bg-white">
  <h2 id="accordion-collapse-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span>Does it cost anything to register or search?</span>
      <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Nothing at all! Not yet anyway, we may need to review our costs depending on traffic and demand but we will keep it free of charge for as long as we can!</p>
      <p class="text-gray-500 dark:text-gray-400">
        <%= link_to "Create an account", new_user_registration_path, class: "text-blue-600 dark:text-blue-500 hover:underline" %>
        and start adding all your equipment.
      </p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>Will my data be shared without my permission?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Definitely not! As you can see from the example search results above only the basic info is viewable by a searcher they can then request more contact info but you will always be consulted first.</p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-3">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
      <span>What's the point of a digital logbook? </span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">The main benefit is to begin to give Chassis's some tracability which engines already have but further to this we also aim to create a central point for users to register their details against Chassis' and Engine's to remove the chance of stolen equipment being able to be sold.</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">If anyone can check the status and history of an item before sale, much like a HPI check on a car it will also prevent anyone unknowingly buying a stolen kart.</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">Try it out now...</p>
      <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
        <li><%= link_to "Search for a Chassis'", engines_path, class: "text-blue-600 dark:text-blue-500 hover:underline" %></li>
        <li><%= link_to "Create an Account", new_user_registration_path, rel: "nofollow", class: "text-blue-600 dark:text-blue-500 hover:underline" %></li>
      </ul>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-4">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-t-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
      <span>Will my address be stored in the database?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Nope, we never store location details of any equipment, the idea of the digital fingerprint is to allow you to register the chassis/engine id number to your account and allow you to record it's history for yourself and new owners, we haven't built a tracker function, we've built a digital logbook.</p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-5">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-t-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
      <span>Can a Chassis/Engine be recorded twice?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">No, all Engine and Chassis ID numebrs will need to be unique on registration to prevent people claiming ownership.</p>
    </div>
  </div>
   <h2 id="accordion-collapse-heading-6">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-t-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
      <span>Can someone else register my chassis/engine as their own?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">No, all new records will need to be submitted with an image of the physical logbook and/or the id tags on the item and approved by the team here.</p>
    </div>
  </div>
</div>
</div>



<section class="bg-white dark:bg-gray-900 mb-1">
    <div class="py-1 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-1 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">What does a search look like?</h1>
        <p class="mb-1 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Take a look below the sort of information you can expect to see about a chassis/engine, you can then request to contact the owner if required.</p>
    </div>
</section>



  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-2 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      
       <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center mt-10">Chassis Search Result</h2>
      <p class="mt-4 text-gray-500"></p>

    
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Chassis Number</dt>
          <dd class="mt-2 text-sm text-gray-500">CY1265</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Make</dt>
          <dd class="mt-2 text-sm text-gray-500">OTK - TonyKart</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Model</dt>
          <dd class="mt-2 text-sm text-gray-500">Racer 401RR</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Year</dt>
          <dd class="mt-2 text-sm text-gray-500">2022</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Colour</dt>
          <dd class="mt-2 text-sm text-gray-500">Factory Green</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Distinguishing Features</dt>
          <dd class="mt-2 text-sm text-gray-500">Weld on Seat Stay - Engine Side</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      
      <%= image_tag("20211122-_DM74079.jpeg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74082.jpeg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74083.jpeg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
      <%= image_tag("20211122-_DM74109.jpeg", alt: "Top down view of walnut card tray with embedded magnets and card groove.", class: "rounded-lg bg-gray-100") %>
     
    </div>
  </div>
</div>

<div class="relative bg-gray-900 py-24 sm:py-32 mb-5 mt-5">
  <div class="absolute inset-0 z-0">
    <%= image_tag("JHP_3131.JPG", alt: "", class: "h-full w-full object-cover object-center opacity-20") %>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8 relative z-20">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Work with us</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Interested in working with us to create a digital database for everything karting?</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <%= link_to 'Contact Us', contact_path, class: 'bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg' %>
    </div>
  </div>
</div>