<div class="bg-gray-100 p-6">
  <h1 class="text-2xl font-bold mb-4">New Contact Form Submission</h1>
  
  <p class="mb-4">You have received a new contact form submission. Details are below:</p>
  
  <div class="bg-white p-4 rounded-lg shadow-md mb-4">
    <p class="mb-2"><span class="font-semibold">Name:</span> <%= @contact_info.first_name %> <%= @contact_info.last_name %></p>
    <p class="mb-2"><span class="font-semibold">Company:</span> <%= @contact_info.company %></p>
    <p class="mb-2"><span class="font-semibold">Email:</span> <%= @contact_info.email %></p>
    <p class="mb-2"><span class="font-semibold">Phone:</span> <%= @contact_info.phone_number %></p>
    <p class="mb-2"><span class="font-semibold">Message:</span> <%= @contact_info.message %></p>
  </div>
</div>
