<h1>New Contact Form Submission</h1>
  
  <p>Name: <%= @contact_info.first_name %> <%= @contact_info.last_name %></p>
  <p>Company: <%= @contact_info.company %></p>
  <p>Email: <%= @contact_info.email %></p>
  <p>Phone: <%= @contact_info.phone_number %></p>
  <p>Message: <%= @contact_info.message %></p>