<!DOCTYPE html>
<html class="">
  <%= render "shared/head" %>

  <body class="">
      
    <header class="">
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %> 
    </header>

      <%= content_for?(:content) ? yield(:content) : yield %>
  
    <footer>
      <%= render "shared/footer" %>
    </footer>

  </body>
</html>
 